/*scroll bar*/
body::-webkit-scrollbar {
  width: 0.3rem;
}
body::-webkit-scrollbar-track {
  background: #000;
}
body::-webkit-scrollbar-thumb {
  background: #ffd966;
}

/* NavBar */
nav {
  margin-top: em;
  background-color: #fff;
}
.nav-link {
  background-color: #fff !important;
  margin-top: 0.5em;
}
/* .active {
  /* background-color: #000!important; */

.activei {
  color: #ffd966;
}
i {
  color: #000;
}
i:hover {
  color: #ffd966;
}
/* index */
.logo {
  width: 27em;
  margin-top: 3em;
}
.title {
  margin: 0em 1em;
  text-align: center;
}
.signp {
  /* font-size: larger; */
  text-align: center;
  margin: 1em 3em;
}
.homesign {
  border-radius: 20px !important;
}
.hsign {
  margin: 2em 2em 0;
}

/* signin/up */
/* form{
    margin: 1em 2em;
padding-bottom: 2em;
} */
.form-control {
  border-radius: 20px !important;
  margin: 1em 0;
}
input:focus,
input:active,
textarea:focus,
textarea:active {
  border-color: rgba(255, 217, 102, 0.6) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(255, 217, 102, 0.3) !important;
  outline: 0 none !important;
}
.signform {
  margin: 2.5em;
}
.btn {
  background-color: #000 !important;
  border: none !important;
  color: #fff !important;
  height: 2.5em !important;
  font-size: 1em !important;
  border-radius: 20px !important;
}
.btna {
  color: #fff;
  margin-bottom: 1em;
  text-decoration: none;
}
.btna:hover {
  color: #000;
  text-decoration: none;
}
.btn:hover,
.btn:active {
  background-color: #ffd966 !important;
  color: #000 !important;
  border-color: rgba(255, 217, 102, 0.6) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(255, 217, 102, 0.3) !important;
  outline: 0 none !important;
}
/* checkbox */
input[type="checkbox"] {
  position: relative;
  width: 60px;
  height: 20px;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  margin: 1em;
}
input:checked[type="checkbox"] {
  background: #ffd966;
}
input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transition: 0.5s;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
input:checked[type="checkbox"]:before {
  left: 40px;
}
.checklabel {
  margin: 0.5em 0em;
}
.line {
  border: #000 0.5px solid;
  /* width: 15em; */
  margin: 1em 0.5em;
}
.hrline {
  margin: 1em 0;
}
/* Min-width */

/* @media (min-width: 500px) {
  .line hr {
    width: 2em !important;
    display: inline;
  }
} */

.signq {
  margin-top: 2em;
}
.optionin p {
  margin-bottom: -0.5em;
}
.optionin {
  text-align: center !important;
  text-decoration: none !important;
  color: #000;
}
.optionin:hover {
  color: #ffd966 !important;
  text-decoration: none !important;
}
/* forget pass */
.backbtn {
  width: 100%;
  background: #fff;
  border: none;
}
.backbtn i {
  float: left;
  margin: 0.8em;
}
/* home page */
.pagetit {
  margin-bottom: 1em;
}
.sectit {
  margin: 0.5em;
  /* font-size: 27px; */
}
.tits {
  margin-top: 2em;
}
.homelogo {
  width: 14em;
  margin-top: 1em;
  margin: 1.5em 1em 1em;
}
/* .logo-exit { */

/* } */
.fa-sign-out-alt {
  margin-top: 0.7em;
  margin-right: 1em;
}
.search {
  background-color: #fff !important;
  border: solid 1px #000 !important;
  color: #fff !important;
  height: 2.5em !important;
  font-size: 1em !important;
  border-radius: 20px !important;
  margin-bottom: 0.5em;
}
.search p {
  color: #000;
  margin-left: 0.5em;
}
.searchbtn {
  display: flex;
  justify-content: space-between;
}
.fa-search {
  margin-right: 0.5em;
}
.searchform {
  margin-top: 1em;
}
.searchbtnp {
  margin-top: -0.2em;
}
.searchpage {
  margin: 1em 0.5em 0.5em 1em;
  background-color: #fff !important;
  color: #000 !important;
  border: #000 solid 1px !important;
  width: 7em !important;
}
.searchpage:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(255, 217, 102, 0.3) !important;
  background-color: #fff !important;
}
.searchpage:active {
  background-color: #ffd966 !important;
  color: #000 !important;
}
/* .cardtitle { */
/* font-size: 30px; */
/* } */
.cardsub {
  font-size: 22px;
  margin-top: -0.5em;
}
.cardlg {
  margin: 1em 0.5em;
  padding: 1em;
}
.cardlg:hover {
  border: #000 solid 1px;
  border-radius: 20px;
}
.cardimg {
  width: 3.5em;
  border-radius: 15px;
}
.cardtit {
  /* font-size: 23px; */
  color: #000;
  text-decoration: none;
  margin-bottom: 0em;
}
.crdsub {
  /* font-size: 20px; */
  margin-bottom: 0em !important;
}
.crdtxt {
  margin-top: 0.5em;
  padding-left: 1em;
}
.cardsm {
  padding: 0.5em 1em !important;
  margin: 0 0.5em !important;
}
.carda {
  text-decoration: none;
  color: #000;
}
.carda:hover {
  text-decoration: none;
  color: #000;
}
.cardsm:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(255, 217, 102, 0.3) !important;
  border-radius: 20px;
}
.cardst {
  margin-top: 3em !important;
}
.ccard {
  padding: 1em 1em 0.5em 1em !important;
  margin-left: 1.5em !important;
  width: 20em;
}
.ccard:hover {
  border: #ffd966 solid 1px;
  border-radius: 20px;
}
.lastcrd {
  /* margin-bottom: 4em !important; */
  margin-bottom: 4em !important;
}
.iconbar i {
  display: flex;
  justify-content: space-between;
  margin-left: 5em;
}
.btnview {
  background-color: #fff !important;
  color: #000;
}
#card {
  margin-bottom: 1em;
  border: none !important;
}
#card:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(255, 217, 102, 0.3) !important;
  border-radius: 20px;
}
.btnpage {
  margin-top: 0.5em;
  border-radius: 12px !important;
  background-color: #fff !important;
  color: #000 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.3);
}
.btnpageactive {
  background-color: #ffd966 !important;
  box-shadow: none;
  color: #000 !important;
}
.jobtit {
  margin: 0.5em 1.2em;
}
.jobtxt {
  margin: 1em 1.5em;
}
.alppybtn {
  width: 100% !important;
  background-color: #fff !important;
  color: #000 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.3);
}
.carousel-caption {
  top: 1em;
  bottom: auto;
  color: #000 !important;
  transition: 0.5s ease;
  opacity: 1 !important;
  /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
}
.carousel-inner {
  border-radius: 20px;
  max-height: 150px !important;
  transition: 0.5s ease;
  backface-visibility: hidden;
  opacity: 1 !important;
}
.carousel-inner img {
  opacity: 0.5;
  filter: grayscale(0%);
}
.carousel-inner:hover img {
  opacity: 0.2;
  filter: grayscale(70%);
}
.carousel-inner:hover .carousel-caption {
  opacity: 1 !important;
}
.fa-star {
  color: #ffd966;
}
.lineout {
  border: 0.5px solid #000;
  margin-top: 0.5em;
}
.credit {
  opacity: 0.5;
}
.noti {
  text-align: center;
  margin-top: 0 auto;
  padding-top: 10em;
  opacity: 0.4;
}
/* #imagePreview {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background-position: center center;
  background-size: cover;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  display: inline-block;
  content: "click Here";
  color: black;
}
#imagePreview img {
  width: 100%;
}

input[type="file"] {
  display: none;
} */
.Accordionbtn {
  color: #000 !important;
  text-decoration: none !important;
}
.Accordionbtn:active,
.Accordionbtn:hover {
  text-decoration: none !important;
}
.accordion {
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border: none !important;
}
.card-header {
  background-color: #fff !important;
  text-decoration: none !important;
  border: none !important;
  border-bottom: #cccccc 1px solid !important;
  box-shadow: none !important ;
}
.card-header:active {
  text-decoration: none !important;
}
.card-body {
  background-color: transparent !important;
  border: none !important;
}
.card-body img {
  opacity: 1;
}
/*skill add */
.items span {
  background-color: #ffd966;
  color: #000;
  padding: 0.3em 0.5em;
  border-radius: 10px;
  margin-left: 0.5em;
  margin-top: 0.5em;
  display: inline-block;
}
.items i {
  margin-left: 0.5em;
  cursor: pointer;
}
#input-add {
  margin: 0 1em;
}
.fa-plus {
  margin-top: 0.7em;
}
.dropdown-menu {
  border-radius: 10px !important;
  width: 100%;
  /* margin-top: -0.1em !important; */
}
/* #uploadPreview {
  width: 7em;
  height: 7em;
  background-size: cover;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
#uploadImage {
  cursor: pointer;
  width: 200px;
  height: 100px;
  border: none;
}
/* input[type="file"] {
  display: none;
} */
//
/* Tabs*/
.tabss {
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #ffd966 !important;
  /* padding: 0.5em; */
}
.nav-tabs .nav-link {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border: none !important;
  color: #000;
  /* padding: 0.5em; */
}
.nav-link:hover {
  border: 1px solid #ffd966 !important;
  border-bottom: none !important;
}
#cardec {
  text-decoration: none !important;
}
.Accordionbtn:hover {
  color: #ffd966 !important;
}
.fa-edit {
  background-color: #ffd966;
  padding: 0.7em;
  border-radius: 50%;
  border: #ffd966 solid 1px;
  float: right;
  margin-right: 0em;
  margin-top: 7em;
}
