/*scroll bar*/
body::-webkit-scrollbar {
  width: 0.3rem;
}
body::-webkit-scrollbar-track {
  background: #000;
}
body::-webkit-scrollbar-thumb {
  background: #ffd966;
}

/* NavBar */
nav {
  margin-top: 2em;
  background-color: #fff;
}
.nav-link {
  background-color: #fff !important;
}
.active {
  /* background-color: #000!important; */
}
.activei {
  color: #ffd966;
}
i {
  color: #000;
}
i:hover {
  color: #ffd966;
}
/* index */
.logo {
  width: 27em;
  margin-top: 3em;
}
.title {
  margin: 0em 1em;
  text-align: center;
}
.signp {
  font-size: larger;
  text-align: center;
  margin: 1em 3em;
}
.homesign {
  border-radius: 20px !important;
}
.hsign {
  margin: 2em 2em 0;
}

/* signin/up */
/* form{
    margin: 1em 2em;
padding-bottom: 2em;
} */
.form-control {
  border-radius: 20px !important;
}
input:focus,
input:active {
  border-color: rgba(255, 217, 102, 0.6) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(255, 217, 102, 0.3) !important;
  outline: 0 none !important;
}
.signform {
  margin: 2.5em;
}
.btn {
  background-color: #000 !important;
  border: none !important;
  color: #fff !important;
  height: 2.5em !important;
  font-size: 1em !important;
  border-radius: 20px !important;
}
.btna {
  color: #fff;
  margin-bottom: 1em;
  text-decoration: none;
}
.btna:hover {
  color: #000;
  text-decoration: none;
}
.btn:hover,
.btn:active {
  background-color: #ffd966 !important;
  color: #000 !important;
  border-color: rgba(255, 217, 102, 0.6) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(255, 217, 102, 0.3) !important;
  outline: 0 none !important;
}
/* checkbox */
input[type="checkbox"] {
  position: relative;
  width: 60px;
  height: 20px;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  margin: 1em;
}
input:checked[type="checkbox"] {
  background: #ffd966;
}
input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transition: 0.5s;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
input:checked[type="checkbox"]:before {
  left: 40px;
}
.checklabel {
  margin: 1em 0em;
}
.line {
  border: #000 0.5px solid;
  width: 6em;
  margin: 1em 0.5em;
}
.hrline {
  margin: 1em 0;
}

.signq {
  margin-top: 2em;
}
.optionin p {
  margin: -0.5em;
}
.optionin {
  text-align: center !important;
  text-decoration: none !important;
  color: #000;
}
.optionin:hover {
  color: #ffd966 !important;
  text-decoration: none !important;
}
/* forget pass */
.backbtn {
  background: #fff;
  border: none;
  margin: 1em;
  margin-bottom: 0;
}
/* home page */
.pagetit {
  margin-bottom: 1em;
}
.sectit {
  margin: 0.5em;
  font-size: 27px;
}
.tits {
  margin-top: 2em;
}
.homelogo {
  width: 14em;
  margin-top: 1em;
  /* margin: 0em -.8em 0em; */
  /* padding-left: 1em; */
}
.logo-exit {
  display: flex;
  justify-content: space-between;
}
.fa-sign-out-alt {
  margin-top: 0.7em;
  margin-right: 1em;
}
.search {
  background-color: #fff !important;
  border: solid 1px #000 !important;
  color: #fff !important;
  height: 2.5em !important;
  font-size: 1em !important;
  border-radius: 20px !important;
  margin-bottom: 0.5em;
}
.search p {
  color: #000;
  margin-left: 0.5em;
}
.searchbtn {
  display: flex;
  justify-content: space-between;
}
.fa-search {
  margin-right: 0.5em;
}
.searchform {
  margin-top: 1em;
}
.searchbtnp {
  margin-top: -0.2em;
}
.searchpage {
  margin: 1em 0.5em 0.5em 1em;
  background-color: #fff !important;
  color: #000 !important;
  border: #000 solid 1px !important;
  width: 7em !important;
}
.searchpage:hover {
  border: #ffd966 solid 1px;
  background-color: #fff !important;
}
.searchpage:active {
  background-color: #ffd966 !important;
  color: #000 !important;
}
.cardtitle {
  font-size: 30px;
}
.cardsub {
  font-size: 22px;
  margin-top: -0.5em;
}
.cardlg {
  margin: 1em 0.5em;
  padding: 1em;
}
.cardlg:hover {
  border: #000 solid 1px;
  border-radius: 20px;
}
.cardimg {
  width: 3.5em;
  border-radius: 15px;
}
.cardtit {
  font-size: 23px;
  color: #000;
  text-decoration: none;
}
.crdsub {
  font-size: 20px;
}
.crdtxt {
  margin-top: 0.5em;
  padding-left: 1em;
}
.cardsm {
  padding: 0.5em 1em 0.5em 1em;
  margin: 0 1em !important;
}
.carda {
  text-decoration: none;
  color: #000;
}
.carda:hover {
  text-decoration: none;
  color: #000;
}
.cardsm:hover {
  border: #ffd966 solid 1px;
  border-radius: 20px;
}
.ccard {
  padding: 1em 1em 0.5em 1em !important;
  margin-left: 1.5em !important;
  width: 20em;
}
.ccard:hover {
  border: #ffd966 solid 1px;
  border-radius: 20px;
}
.lastcrd {
  margin-bottom: 3em;
}
.iconbar i {
  display: flex;
  justify-content: space-between;
  margin-left: 5em;
}
.btnview {
  background-color: #fff !important;
  color: #000;
}
