/*scroll bar*/
body::-webkit-scrollbar {
  width: 0.3rem;
}
body::-webkit-scrollbar-track {
  background: #000;
}
body::-webkit-scrollbar-thumb {
  background: #ffd966;
}

/* NavBar */
nav {
  margin-top: 2em;
  background-color: #fff;
}
.nav-link {
  background-color: #fff !important;
}
.active {
  /* background-color: #000!important; */
}
.activei {
  color: #ffd966;
}
i {
  color: #000;
}
i:hover {
  color: #ffd966;
}
/* index */
.logo{
  width: 27em;
  margin-top: 3em;
}
.title {
  margin: 1em 1em 0;
  text-align: center;
}
.signp{
  font-size: larger;
  text-align: center;
  margin: 1em 3em;
}
.homesign {
  border-radius: 20px !important;
}
.hsign {
  margin: 2em 2em 0;
}

/* signin/up */
/* form{
    margin: 1em 2em;
padding-bottom: 2em;
} */
input:focus,
input:active {
  border-color: rgba(255, 217, 102, 0.6) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(255, 217, 102, 0.3) !important;
  outline: 0 none !important;
}
.signform{
  margin: 2.5em;
}
.btn {
  background-color: #000 !important;
  border: none !important;
  color: #fff !important;
  height: 2.5em !important;
  font-size: 1em !important;
  border-radius: 20px !important;
}
.btna {
  color: #fff;
  margin-bottom: 1em;
  text-decoration: none;
}
.btna:hover {
  color: #000;
  text-decoration: none;
}
.btn:hover,
.btn:active {
  background-color: #ffd966 !important;
  color: #000 !important;
  border-color: rgba(255, 217, 102, 0.6) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(255, 217, 102, 0.3) !important;
  outline: 0 none !important;
}
.signq{
  margin-top: 2em;
}
.optionin p{
  margin: -.5em;
}
.optionin{
  text-align: center!important;
  text-decoration: none !important;
  color: #000;
}
.optionin:hover {
  color: #ffd966 !important;
  text-decoration: none !important;
}
/* popup */
