/* .text-center {
  margin-top: 140px;
}
.swal2-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #b35549 !important;
  font-size: 12px;
  border: 1px solid #469a3e;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  color: #000;
}
.swal2-icon.swal2-error {
  border-color: #f27474 !important;
} */
